.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 170px;
}
.nav-menu {
  list-style: none;
  display: flex;
  gap: 60px;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}
.nav-connect {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  border-radius: 50px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}
.nav-menu li:hover {
  transform: scale(1.25);
  transition: 0.3s;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.anchor-link {
  text-decoration: none;
  color: white;
}
.nav-mob-close {
  display: none;
}
.nav-mob-open {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close {
    display: block;
    position: relative;
    top: 30px;
    left: 150px;
    width: 30px;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 03s;
    right: -350px;
  }
  .nav-menu li {
    font-size: 20px;
    flex-direction: row;
    padding-left: 100px;
    gap: 20px;
  }
}
